##############################################################
#
#  vmx.conf
#  Config file for vmx on the hypervisor.
#  Uses YAML syntax. 
#  Leave a space after ":" to specify the parameter value.
#
##############################################################

--- 
#Configuration on the host side - management interface, VM images etc.
HOST:
    identifier                : vmx1
    host-management-interface : eth0
    routing-engine-image      : "/home/vmx/vmxlite/images/jinstall64-vmx-14.1R5.4-domestic.img"
    routing-engine-hdd        : "/home/vmx/vmxlite/images/vmxhdd.img"
    forwarding-engine-image   : "/home/vmx/vmxlite/images/vPFE-lite-20150707.img"

---
#External bridge configuration
BRIDGES:
    - type  : external
      name  : br-ext                  # Max 10 characters

--- 
#vRE VM parameters
CONTROL_PLANE:
    vcpus       : 1
    memory-mb   : 1024 
    console_port: 8601

    interfaces  :
      - type      : static
        ipaddr    : 10.102.144.94 
        macaddr   : "0A:00:DD:C0:D{{ item[0] }}:E0"

--- 
#vPFE VM parameters
FORWARDING_PLANE:
    memory-mb   : 6144 
    vcpus       : 3
    console_port: 8602
    device-type : virtio 

    interfaces  :
      - type      : static
        ipaddr    : 10.102.144.98
        macaddr   : "0A:00:DD:C0:D{{ item[0] }}:10"

--- 
#Interfaces
JUNOS_DEVICES:
   - interface            : ge-0/0/0
     mac-address          : "02:06:0A:0E:FF:{{ item[0] }}0"
     description          : "ge-0/0/0 interface"
   
   - interface            : ge-0/0/1
     mac-address          : "02:06:0A:0E:FF:{{ item[0] }}1"
     description          : "ge-0/0/1 interface"
   
   - interface            : ge-0/0/2
     mac-address          : "02:06:0A:0E:FF:{{ item[0] }}2"
     description          : "ge-0/0/2 interface"
